:root{
  --yellow:#F2C94C;
  --black:#000;
  --white:#fff;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Navbar */
header{
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background-color: var(--black);
  color:var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .logo{
  font-size: 28px;
}
header button{
  display: none;
}
header nav{
     width: 40%;
     display: flex;
     justify-content: space-around;
     align-items: center;
}
header nav a{
  text-decoration: none;
  color:var(--white);
  font-size: 20px;
}
header .nav-mobile{
  width: 100%;
  position: absolute;
  top:80px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap:25px;
  padding: 25px;
  z-index: 1;
  background-color: var(--yellow);
  color:var(--black);
}
header .nav-mobile a{
  color:var(--black);
  font-size: 16px;
  font-weight: 600;
}
@media(max-width:900px){
  header button{
    display: flex;
    background-color: var(--black);
    color:var(--white);
    font-size: 36px;
    outline: none;
  }
  header nav{
    display: none;
  }
  header nav{
    width: 50%;
}
}
/* Intro*/
.intro{
  width: 100%;
  height: calc(120vh - 80px);
  background:url(https://res.cloudinary.com/dreqpija0/image/upload/v1667405562/pizza/wood-2045380_1920_1_goekhv.png) ;
  color:var(--white);
  background-size: cover;
  object-fit: fill;
  position: relative;
  padding: 60px 0 0 0;
}
 

.intro .pizza-up{
  width: 100%;
position:absolute;
bottom: 0;
}
.intro h1{
font-size: 72px;
text-align: center;
}
.intro .yellow-line{
 width: 40%;
 height: 5px;
 background-color: var(--yellow);
 border-radius: 3px;
 margin:0 auto;
}
.intro p{
 width: 50%;
 font-size: 25px;
 line-height: 1.5;
 text-align: justify;
 margin: 10px auto;
}
/* Media queries for Intro */
@media(max-width:900px){
  .intro{
    height: calc(100vh - 80px);
  }
  .intro h1{
    font-size: 51px;
    }
    .intro p{
      width: 80%;
      font-size: 20px;
     }
}

@media(max-width:500px){
  .intro{
    height: calc(90vh - 80px);
  }
  .intro h1{
    font-size: 31px;
    }
    .intro p{
      font-size: 15px;
     }
}
/* About US */
.main{
  background-color: #000;
  color:#fff;
}
.about-us{
 width: 100%;
 padding: 35px 25px;
 display:flex;
 justify-content: space-around;
}
.about-us .left{
   flex-basis: 35%;
}
.about-us .left h1{
  font-weight: 400;
font-size: 60px;
margin:10px 0;
}
 .about-us .yellow-line{
  width: 100%;
  height: 9px;
  border-radius: 10px;
  background-color: var(--yellow);
  margin:15px 0;
}
.about-us .left p{
  width: 100%;
  font-size: 25px;
  text-align: justify;
  line-height: 1.4;
  margin:15px 0;
}

.about-us  img{
  width: 413px;
  height: 543px;
}
/* Media queries for About Us */
@media(max-width:900px){
  .about-us{
    flex-direction: column;
   }
   .about-us .left h1{
  font-size: 40px;
  }
  .about-us .left p{
    font-size: 20px;
  }
}

@media(max-width:500px){
   .about-us .left h1{
  font-size: 25px;
  }
  .about-us .left p{
    font-size: 15px;
  }
}
/* Find Us */
.find-us{
  width: 100%;
  padding:25px;
}
.find-us h1{
  font-size: 60px;
  text-align: center;
}
.find-us .yellow-line{
  width: 30%;
  height: 9px;
  border-radius: 10px;
  background-color: var(--yellow);
  margin:15px auto;
  
}
.find-us .info{
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}
.find-us img{
  margin:15px 0;
}
.find-us .info .right{
  display: flex;
  flex-direction: column;
  gap:35px;
  justify-content: center;
  flex-basis: 40%;
  padding: 0 15px;
}
.find-us .info .right p{
  font-size: 25px;
  line-height: 1.4;
}
/* Media queries for Find Us */
@media(max-width:900px){
  .find-us .info{
    flex-direction: column;
   }
   .find-us h1{
    font-size: 40px;
  }
  .find-us .info .right p{
    font-size: 20px;
  }
}

@media(max-width:500px){
   .find-us  h1{
  font-size: 25px;
  }
  .find-us .info .right p{
    font-size: 15px;
  }
}
/* Our Menu */
.our-menu{
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items:center ;
}
.our-menu h1{
  font-size: 60px;
}
.our-menu .yellow-line{
  width:30%;
  height: 9px;
  background-color: var(--yellow);
  border-radius: 3px;
  margin:15px 0;
}
.our-menu .info{
  width: 80%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}
.our-menu .info img{
  margin:10px 0;
}
@media(max-width:900px){
  .our-menu .info{
    flex-direction: column;
   }
   .our-menu h1{
    font-size: 40px;
  }
   
}

@media(max-width:500px){
  .our-menu h1{
    font-size: 30px;
  }
}













/* Footer */
.footer{
  width: 100%;
  height: calc(120vh - 80px);
  background:url(https://res.cloudinary.com/dreqpija0/image/upload/v1667405562/pizza/wood-2045380_1920_1_goekhv.png) ;
  background-size: cover;
  object-fit: fill;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  color:var(--white);
  position: relative;
}
.footer .pizza-down{
  width: 100%;
  position: absolute;
  top:0;
}
.footer .info{
  width: 100%;
  position: absolute;
  bottom:10%
}
.footer .info h1{
  font-size: 72px;
  text-align: center;
}
.footer .yellow-line{
  width: 50%;
  height: 5px;
  background-color: var(--yellow);
  border-radius: 3px;
  margin: 0 auto;
}
.footer .social{
  width: 15%;
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
  gap:5px;
}
.footer .social i{
  font-size: 24px;
  background-color:var(--black);
  padding: 12px;
  border-radius: 50%;
}
.author{
  position: absolute;
  bottom: 15px;
  font-size: 20px;
  color:var(--white);
}
@media(max-width:900px){
  .footer .info h1{
    font-size: 41px;
    text-align: center;
  }
  .footer .social i{
    font-size: 20px;
    padding: 10px;
  }
}
@media(max-width:500px){
  .footer .info h1{
    font-size: 26px;
    text-align: center;
  }
  .footer .social i{
    font-size: 18px;
    padding: 8px;
  }
}
/* BTNS */

.yellow-btn{
  font-size: 17px;
  background-color: var(--black);
  color:var(--yellow);
  border:1px solid var(--yellow);
  border-radius: 3px;
  padding:8px 16px;
  margin:25px 0;
  transition: all .6s ease-in-out;
}
.yellow-btn:focus,
.yellow-btn:hover
{
  background-color: var(--yellow);
  color:var(--black);
  transform: scale(1.05);
}